html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body {
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
    height: fit-content;
    padding: 25px;
    border-radius: 16px;
}

#display {
    background-color: green;
    height: 75px;
    border-radius: 16px;
}

#buttons {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.button {
    aspect-ratio: 1 / 1;
    flex-basis: 25%;
    background-color: grey;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button.inv {
    background-color: rgba(0,0,0,0);
}
